@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/lovelo?styles=25962');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(247, 247, 247);
    background-repeat: no-repeat;
    height: 0px;
}

header {
    display: flex;
    justify-content: space-between;      
    align-items: center;                      
    padding: 10px 10px;
    background-color: white;
    z-index: 2;
    width: 100%;
    position: fixed;
    top: 0px;
}


/*         PARAMETRE LIEN BARRE DE NAVIGATION        */

.nav_bar {
    margin: 0 auto;
    
}

.nav_link {
    display: flex;
    list-style: none;                    
}

.nav_link li {
    padding: 0px 50px;
    position: relative;                    
    transition: all 0.4s ease;
}

.nav_link li a {
    color: black;
    text-decoration: none;                  
    font-size: 2em;
    font-family: 'Bebas Neue', cursive;
}

.nav_link li:hover .nav_name {
    color: #efc21b;                     
}

.nav_name {
    margin: 0 auto;
    transition: .25s;                       
}

.logo {
    cursor: pointer;
    padding-left: 10px;
}



/*      ANIMATION HOVER DROPDOWN LEFRANCOIS        */


#lefr i {
    padding-left: 7px;
}

#lefr {
    transition: .25s;                       
}

.nav_link li:hover #lefr {
    color: #efc21b;
    cursor: pointer;                     
}

.anim_hover1 {
    position: relative;
}

.anim_hover1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;                    
    background:#3a3c8a;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: .3s ease-in-out;
}


.anim_hover1:hover {
    color: rgb(75, 75, 75);      
}

.anim_hover1:hover::after {
    transform: scaleX(1);           
}




/*      PARAMETRE DROPDOWN LEFRANCOIS        */


.dropdown1 {
    display: none;                       
    z-index: 100;
}

.dropdown1 ul {
    display: block;                      
    list-style: none;
}

.dropdown1 ul li {          
    border-bottom: solid 2px rgba(161, 161, 161, 0.802);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 17px 27px;
    text-align: center;
}

.dropdown1 ul li a {
    font-size: 1.5em;                       
    font-family: 'Bebas Neue', cursive;
}

@media screen and (min-width: 1420px) {
    
    
    .onScroll_header {
        height: 100px;
        transition: .5s;
    }
    

    .onScroll_header .logo {
        height: auto;
        width: 75%;
    }
    
    
    .nav_link li:hover .dropdown1 {
        display: block;
        position: absolute;
        left: 0;
        top: 100%;                              
        background-color:rgb(245, 245, 245);
        border-radius: 7px;
        border-top: solid 3px #efc21b;
    }
    
}

.nav_link li:hover .dropdown1 ul {
    perspective:  1000px;
}

.nav_link li:hover .dropdown1 ul li {
    transform-origin: top center;
    opacity: 0;
}

.nav_link li:hover .dropdown1 ul li:nth-child(0) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: -160ms;
}
.nav_link li:hover .dropdown1 ul li:nth-child(1) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: 0ms;
}
.nav_link li:hover .dropdown1 ul li:nth-child(2) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: 100ms;
}
.nav_link li:hover .dropdown1 ul li:nth-child(3) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: 200ms;
}
.nav_link li:hover .dropdown1 ul li:nth-child(4) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: 300ms;
}
.nav_link li:hover .dropdown1 ul li:nth-child(5) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: 400ms;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    50% {
        transform: rotateX(20deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}



/*      PARAMETRE DROPDOWN ACTIVITE        */


.dropdown2 {
    display: none;
    z-index: 99;
}

.dropdown2 ul {
    display: block;
    list-style: none;
}

.dropdown2 ul li {
    width: 230px;
    padding: 17px 0px;
    text-align: center;
    border-bottom: solid 1px rgb(161, 161, 161);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown2 ul li a {
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
}

@media screen and (min-width: 1420px) {
    
    .nav_link li:hover .dropdown2 {
        display: block;
        position: absolute;
        left: 8px;
        top: 100%;                              
        background-color:rgb(245, 245, 245);
        border-radius: 7px;
        border-top: solid 3px #efc21b;
    }
}

.nav_link li:hover .dropdown2 ul {
    perspective:  2000px;
}

.nav_link li:hover .dropdown2 ul li {
    transform-origin: top center;
    opacity: 0;
}

.nav_link li:hover .dropdown2 ul li:nth-child(0) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: -160ms;
}
.nav_link li:hover .dropdown2 ul li:nth-child(1) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: 0ms;
}
.nav_link li:hover .dropdown2 ul li:nth-child(2) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: 100ms;
}

.nav_link li:hover .dropdown2 ul li:nth-child(3) {
    animation: animate 600ms ease-in-out forwards;
    animation-delay: 200ms;
}



/*      ANIMATION PARAMETRE DROPDOWN ACTIVITE        */


#acti i {
    padding-left: 7px;
}

#acti {
    transition: .25s;                       
}

.nav_link li:hover #acti {
    color: #efc21b;
    cursor: pointer;
}

.anim_hover2 {
    position: relative;
}

.anim_hover2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;                    
    background:#3a3c8a;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: .3s ease-in-out;
}


.anim_hover2:hover {
    color: rgb(75, 75, 75);       
}

.anim_hover2:hover::after {
    transform: scaleX(1);           
}



/*      PARAMETRE BOUTON CONTACT BARRE DE NAVIGATION    */


.ct button {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.8em;
    color: black;                   
    text-decoration: none;
    padding: 0px 50px;
    padding: 15px 35px;
    background-color: #ffe27b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    max-width: 40rem;
}

.ct button:hover {
    background-color: #efc21b;
    color: white;
}

/*      PARAMETRE BOUTON CONTACT BARRE DE NAVIGATION  RESPONSIVE   */


.ct2 {
    display: none;
}


#check {
    display: none;
}

.checkbtn {
    display: none;
}



/*          BARRE DE NAVIGATION RESPONSIVE              */




@media screen and (max-width: 1865px) {
    .rs_link {
        display: none;
    }
}

@media screen and (max-width: 1520px) {
    .nav_link  {
        font-size: 0.9em;
    }
    
    .ct button {
        font-size: 1.2em;
    }
    
    .content h1 {
        font-size: 3em;
        text-align: center;
    }
}

@media screen and (max-width: 1420px) {
    .ct {
        display: none;
    }
    
    .ct2 {
        display: block;
        padding-top: 15px;
        height: 30vh;
        max-height: 30vh;
        width: 100%;
        overflow-y: scroll;
    }
    
    .ct2 button {
        margin-top: 40px;
        font-family: 'Bebas Neue', cursive;
        font-size: 2em;
        color: black;                   
        text-decoration: none;
        padding: 15px 35px;
        background-color: #ffe27b;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.4s ease 0s;
    }
    
    .content h1 {
        font-size: 3em;
    }
    
    .checkbtn {
        display: block;
        float: right;
        z-index: 200;
        font-size: 2em;
        padding-left: 200px;
    }
}

@media screen and (max-width: 1420px) {
    
    .nav_bar {
        display: block;
    }
    
    .nav_link{
        position: fixed;
        z-index: 97;
        background: rgb(250, 250, 250);
        top: 90px;
        left: -100%;
        text-align: center;
        display: block;
        transition: all .5s;
        height: 100vh;
        max-height: 100vh;
        width: 100%;
        overflow-y: scroll;
    }
    
    .nav_link li {
        padding-bottom: 3px;
        border-bottom: solid 1px black;
        
    }
    
    .nav_link li a {
        font-size: 2em;
    }
    
    .dropdown1 ul {
        padding-top: 10px;
        display: inline-table;
    }
    
    .dropdown1 ul li {
        background-color:rgb(250, 250, 250);
        list-style: none;
        border: none;
        padding-left: 27px;
    }
    
    .dropdown1 ul li a {
        font-size: 1.7em;
        font-family: 'Bebas Neue', cursive;
        color: #3a3c8a;
    }
    
    .dropdown2 ul {
        padding-top: 10px;
        display: inline-table;
    }
    
    .dropdown2 ul li {
        background-color:rgb(250, 250, 250);
        list-style: none;
        border: none;
        padding-left: 2px;
    }
    
    .dropdown2 ul li a {
        font-size: 1.7em;
        font-family: 'Bebas Neue', cursive;
        color: #3a3c8a;
    }
    
    .nav_link li  {
        padding-top: 50px;
    }
    
    #check:checked ~ ul {
        left: 0;
    }
    
    .logo {
        height: 19mm;
        width: 30mm;
        cursor: pointer;
    }
    
    .show {
        display: block;
    }
}

/*          PREMIERE PARTIE HISTOIRE    */

.sect1 {
    background-color: black;
    height: 60vh;
    top: 150px;
    position: relative;
}

.img_bc {
    width: 100%;
    height: 100%;    
}

.sect1 .img_bc {
    background-image: url('/Assets/Picture/bc.jpg');
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    top: 150px;
    height: 60vh;
    width: 100%;
}

.sect1 #text_img {
    width:100%;
    text-align:center;
    position: absolute;
    top: 30%;
    color: white;
    font-size: 7rem;
    font-family: 'Bebas Neue', cursive;
    word-spacing: 20px;
    font-weight: 590;
    letter-spacing: 2px;
    margin: 0 auto;
}

#white_bc {
    background-color: rgb(247, 247, 247);
}

/*      DEUXIEME PARTIE HISTOIRE        */

.realisation_bc {
    position: relative;
    width: 1500px;
    height: 1620px;
    background-color: white;
    margin: 0 auto !important;
    display: block;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
}

.realisation_bc #title_realisation {
    font-family: 'Lovelo', sans-serif;
    padding-top: 50px;
    font-size: 5em;
    /*color: rgb(75, 75, 75);*/
    color: #efc21b;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.premier_partie {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 0px 20px;
}

.premier_partie p {
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Inter', sans-serif;
    color: black;
    line-height: 40px;
}

.premier_partie p span {
    font-weight: bold;
}

.premier_partie p #blue {
    font-size: 1.2em;
}

.deuxieme_partie {
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    max-width: 1300px;
    width: 90%;
    height: auto;
    margin: 30px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 4px;
}

.img1 {
    height: 400px;
    width: 400px;
    position: relative;
}

.deuxieme_partie img {
    width: 400px;
    height: 400px;
}

.photo {
    display: block;
    width: 100%;
}

#img1_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
    cursor: pointer;
    width: 100%;
    height: 100px;
    background: rgba(44, 44, 44, 0.6);
}

.img1:hover #img1_text {
    visibility: visible;
    opacity: 1;
}

.text {
    transition: .2s;
    transform: translateY(1em);
    color: #efc21b;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 200;
    width: 100%;
}

.img1:hover .text {
    transform: translateY(0);
}


/* MODAL */

.photo {
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
}

.text span {

    transition: .2s;
    transform: translateY(1em);
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: 200;

}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    margin-top: 40px;
    max-width: 700px;
    margin-top: 100px;
}

#img01 {
    width: auto;
    height: 700px;
}


#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


















footer {
    z-index: -6;
    height: 265px;
    background: linear-gradient(0deg, rgb(235, 235, 235) 80%, rgb(247, 247, 247) 80%);
    width: 100%;
    position: relative;
    margin: 0 auto !important;
    margin-top: 100px;
}



.background6 {
    padding-top: 70px;
    margin: 0 auto;
    width: 100%;
    height: 196px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.background6 img {
    padding-top: 20px;
}

.info {
    padding-top: 30px;
}

.info p {
    font-family: 'Inter', sans-serif;
}

.horaire {
    padding-top: 10px;
}

.horaire p {
    font-family: 'Inter', sans-serif;
}



.rs_link ul {
    display: flex;
    justify-content: center;        
    list-style-type: none;                 /*   PARAMETRE POSITION LOGO RS */
    font-size: 0.8em;
}

.rs_link li {
    margin: 0px 25px;
    text-decoration: none;
    height: 58px;
    width: 58px;
    display: flex;                             /* PARAMETRE OMBRE POUR LOGO RS  */
    align-items: center;
    justify-content: center;
    border-radius: 78px;
    background: #e4e4e4;
    box-shadow:  5px 5px 10px #ababab,
    -5px -5px 10px #ffffff;
}

.rs_link li a {
    font-size: 1.6em;                   /*  PARAMETRE LOGO RS   */
}

.rs_link li:hover {
    cursor: pointer;
    border-radius: 78px;
    background: linear-gradient(145deg, #cdcdcd, #f4f4f4);
    box-shadow:  5px 5px 10px #ababab,
    -5px -5px 10px #ffffff;
}

.rs_link li:nth-child(1) i {            /*  COLOR INSTA */
    color:#dd2a7b;
}

.rs_link li:nth-child(2) i {            /*  COLOR FACEBOOK */
    color:#0080F7;
}

.rs_link li:nth-child(3) i {            /* COLOR LINKEDIN   */
    color:#0e76a8;
}

.rs_link h1 {
    font-size: 25px;
    letter-spacing: 3px;
    /*font-family: 'Bebas Neue', cursive;*/
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
    color: black;
    font-weight: 500;
    padding-right: 30px;
}

.footerv2 {
    border-top: solid 2px black;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    background: #efc21b;
}

.footerv2 li a {
    color: black;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none !important;
    font-size: 20px;
}

.mention {
    padding: 0px  40px;
    text-decoration: none !important;
    list-style-type: none;
    border-right: solid 4px black;
}

.footerv2 li:nth-child(4) {
    border: none;
}